html{
    background-color: black;
}
body{
    display: flex;
    justify-content: center;   
}

main{
    background-color: white;
    margin: 4;
    width: 600px;
    height: 800px;
}
.iconosencabezado{
    display: flex;

}

.ellipsis {
    display: flex;
    justify-content: flex-end;

}

img {
    height: 400px;
    width: 600px;
    margin: none;
}
.classiconosimagen{
    display: flex;
}
.iconobookmark{
align-items: flex-end;

}
