html{
    background-color: black;
}
body{
    display: flex;
    justify-content: center;   
}

main{
    background-color: white;
    margin: 4;
    width: 600px;
    height: 800px;
}
.iconosencabezado{
    display: flex;

}
.iconohtml5{
    justify-content: left;
    margin: 1rem;

}
.textosarriba{
    display: flex;
    flex-direction: column;
}

.iconoellipsis {
margin-left: auto;
align-content: end;
}

img {
    height: 400px;
    width: 600px;
    margin: 1rem 0rem 0rem 0rem;
}
.iconosimagen{
    display: flex;
    justify-content: space-between;
}
.iconobookmark{
margin-left: auto;
}
